div.eyeCatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 9rem);
  color: white;
  box-sizing: border-box;

  >h1 {
    font-size: 6rem;
    margin: 0;
  }

  >p {
    font-size: 1.2rem;
    margin: 0;
  }

  >div.buttons {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;

    >a {
      padding: 0.75rem 1.5rem;
      color: white;
      text-decoration: none;
      border-radius: 4px;
      font-weight: bold;
      transition: background-color 0.3s ease;
      text-align: center;
      width: 100px;
    }

    >a:nth-child(1) {
      background-color: #4a90e2;

      &:hover {
        background-color: #357ab8;
      }
    }

    >a:nth-child(2) {
      background-color: #e94e77;

      &:hover {
        background-color: #b83c5e;
      }
    }
  }
}