div.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

div.ideaImage {
	align-items: center;
	width: 800px;
	height: 400px;
	padding: 2rem;
	background-color: #333;
	box-shadow: 0 0 64px #fffc;
	border-radius: 30px;
	margin: 3rem;
	border: 3px solid #fff;
}