:root,
body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  font-family: var(--font-mona-sans), var(--font-noto-sans-jp), sans-serif;
}

h1 {
  font-weight: medium;
}

input,
button,
textarea,
select {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.1rem;
  outline: none;
  box-sizing: border-box;

  &::placeholder {
    color: #777;
  }
}

textarea {
  resize: vertical;
  height: 4rem;
}