main.container {
  background: linear-gradient(to bottom, #472c63 0%, #25367c 100vh, #1b2a5c 100%);
  color: white;
  padding: 2rem;
  box-sizing: border-box;

  >div.content {
    padding: 0 4rem;
  }
}