div.tagList {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-top: 1rem;

	.tag {
		padding: 0.25rem 0.75rem;
		background-color: #eee;
		border-radius: 4px;
		font-size: 0.9rem;
		border: 1px solid #ccc;
		background-color: white;
		border-radius: 100px;
		user-select: none;
		cursor: pointer;

		&:hover {
			background-color: #ddd;
			border-color: #bbb;
			transition: background-color 0.2s ease, border-color 0.2s ease;
			transition-duration: 0.1s;
		}

		&.selected {
			background-color: #4a90e2;
			border-color: #357ab8;
			color: white;
		}
	}
}